* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    color: white;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

/* peach of the gound is here */
.page {
    top: 0%;
    left: 0%;
    transform: translate(50%, 25%);
    font-size: 4em;
    height: 70%;
    width: 50%;
    border-radius: 2vw;
    background-color: rgba(131, 150, 255, 0.281);
}
/* score area and clock area */
.scoreboard {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    padding-bottom: 0;
    padding-right: 1em;
}

/* here we have to provide task */
#task {
    box-sizing: content-box;
    /* background-color: rgb(6, 82, 149); */
    margin-bottom: 1em;
    font-size: 0.4em;
    padding: 2vw;
    text-align: left;
    overflow: hidden;
    height: 3em;
}
/* rule list */
#list {
    padding: 1em;
    list-style: none;
    font-size: 0.5em;
}

/* input area */
#input {
    box-sizing: border-box;
    height: 3em;
    /* background-color: pink; */
    transform: translateY(50%);
}
#in-put,
#put {
    border-radius: 0.9em;
    height: 2.7em;
    width: 20em;
}
#in {
    height: 1.7em;
    width: 7em;
    border-radius: 0.9em;
    background-color: rgba(22, 30, 191, 0.522);
}